<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
          <ul class="header-menus">
            <li><%= link_to("ワード一覧", "/#") %></li>
            <li><%= link_to("ワード登録", "/#") %></li>
          </ul>
      </header>
    <%= yield %>
  </body>
</html>
